@font-face {
    font-family: "Font-FiveFlix";
    src: url(./asset/font/MerriweatherSans-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #101010;
}
::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(58, 58, 58);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(44, 44, 44);
}

body {
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: "Font-FiveFlix";
    min-height: 100%;
}
nav {
    background-color: rgb(18, 18, 18);
}
nav .prt-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .prt-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 1rem;
    margin: 0px 20px;
} 
nav .prt-nav a {
    color: white;
    text-decoration: none;
}
nav .prt-nav img {
    margin: 0px 20px;
}
#image-st-center {
    min-height:1000px;
    width: 100%;
}
header .img-center h1 {
    margin-top: -410px;
    font-size: 4.6rem;
    margin-left: -4px;
    text-shadow: 10px 7px 17px black;
    color: rgb(255, 255, 255);
    padding: 24px;
}
main .btn-center a {
    text-decoration: none;
    color: white;
    background-color: #ff0000;
    font-size: 1.1rem;
}
main .btn-1 {
    padding: 10px 40px ;
    margin: 20px;
    border-radius: 9px;
    box-shadow: 1px 1px 40px black;
}
main .btn-2 {
    padding: 10px 20px ;
    margin: 20px;
    border-radius: 9px;
    box-shadow: 1px 1px 40px black;
}
footer .footer-info {
    background-color: rgb(18, 18, 18);
    height: 1000px;
}
footer .footer-info img {
    margin: 10px;
}

/* films ID  */

#avatar2-img {
    margin-top: 270px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 100px black;
}
#spiderman-img {
    border-radius: 8px;
    box-shadow: 1px 1px 100px black;
}
#jumanji-img {
    border-radius: 8px;
    box-shadow: 1px 1px 100px black;
}
#topgun-img {
    border-radius: 8px;
    box-shadow: 1px 1px 100px black;
}
#starwars-img {
    border-radius: 8px;
    box-shadow: 1px 1px 100px black;
}
#joker-img{
    border-radius: 8px;
    box-shadow: 1px 1px 100px black;
}
#les-gardiens-de-la-galaxie-img {
    border-radius: 8px;
    box-shadow: 1px 1px 100px black;
}
#Jurassic-world-img {
    border-radius: 8px;
    box-shadow: 1px 1px 100px black;
}
